<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.dsienkiewiczConnectionString"
            connectionString="Data Source=eos.inf.ug.edu.pl;Initial Catalog=dsienkiewicz;Persist Security Info=True;User ID=dsienkiewicz;Password=206358"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.ConnectionString1"
            connectionString="Data Source=eos.inf.ug.edu.pl;User ID=dsienkiewicz;Password=206358"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>